/******************************************/
/***************** LAYOUT *****************/
/******************************************/

.block-display {display: block;}
.padTop {padding-top: 190px;}
.padTopShort {padding-top: 10px;}
.padTop5 {padding-top: 5px;}

/*****************************************/
/***************** FONTS *****************/
/*****************************************/

h1#logo {font-size: 50px;padding-top: 15px;text-align: center; color: #fff; font-family: 'Raleway Dots', serif; font-weight: 100; line-height: 30px;}
h3.resultTop {text-align: center; padding-top: 15px;font-family: "Helvetica Neue", sans-serif; font-weight: 100; font-size: 50px;}
h4.movietitle {color: #333;}

/******************************************/
/***************** HEADER *****************/
/******************************************/

#header-holder {display: block; clear: both; height: auto; width: 100%;}

	/* NAVBAR */
	#moveup {position: relative; top: -15px;}
	.left-header {float:left; clear: none;}
	.right-header {float:right; clear: none;position: relative; top: -60px;}
	h1#collectionHeader {float:right; clear: none;font-family: "Helvetica Neue", sans-serif; font-size: 14px; font-weight: 300; padding:5px 18px; background-color: black; color: #fff; text-transform: uppercase; border-left: 5px solid purple; line-height: 20px;}
	#inner-header {}
	#inner-header, 
	#logo-wrapper, 
	#logo-wrapper-transparent {background: none;display: inline-block; float:left; width: auto; padding-bottom: 3px;}
	a#logo {text-align: center; float: left; text-decoration: none;}
	
	.nav-collapse{display:inline-block;float: right;width:auto; padding-right: 25px;} /* control how nav-collapse happens */
	.navbar {text-align: center;} /* logo image uses this interestingly */
	#nav-cream {background: none repeat scroll 0 0 rgba(255, 255, 255, 0.73);
	    border: medium none;
	    border-radius: 0 0 2px 2px;
	    box-shadow: none; }
	.rectangle-1 { 	background: none repeat scroll 0 0 #FFFFFF; border: medium none; border-radius: 0 0 2px 2px;
	    			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	    			height: 85px; left: 55px; margin: 0; position: absolute; top: -2px; left: 50px; width: 60px; }
	
	h1#title { 	font-size: 40px; font-family: "oswald"; font-size: 17pt; font-weight: 400; color: #666;
	    		left: 129px; position: relative; width: 130px; text-align: left;  float: left;}



	/* SEARCH */
	.chzn-container .chzn-results li.opt-cat-level1 {font-family: sans-serif; font-size: 14px; color: #999;cursor: default;font-weight: bold; text-align: left; padding: 5px 10px;}
	.chzn-container .chzn-results li.opt-cat-level2 {font-family: sans-serif; font-size: 12px; color: #444;cursor: default; text-align: left; padding-left: 20px;}
	.chzn-container .chzn-results li.opt-single-cat {padding-left: 30px;}
	#search-form {float:none; text-align:left;}
	#searchform{margin-right:10px;position:relative;right:10px;}
	#search {margin: 0 auto;}
	#search-wrap {display:block; width: 25%; margin: 0 auto;}
	
	/*#search-form {color: #CCC;}
	#search-form .search-query, #search-wrap #search-form .btn, #search-form .date-inverse {
		  color: #CCC;
	  background-color: #515151;
	  border-color: #111111;
	  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
	     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
	          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
	  -webkit-transition: none;
	     -moz-transition: none;
	       -o-transition: none;
	          transition: none;
	}
	#search-wrap #search-form input.search-query { font-size: 16px; height: 16px; line-height: 16px; }
	#search-wrap #search-form .search-query { border-radius: 16px; }*/
	
	/* TOGGLE */
	.toggle-holder {float: right; margin-right: 30px; margin-top: 5px;}
	/*.togBtns {float: right; margin-right: 10px; margin-top: 20px;}*/
	#view-toggle {float:right;margin-right: 30px;margin-top: 10px;}
	#logonav {margin-bottom: 0px;height: 65px;}

/****************************************/
/***************** BODY *****************/
/****************************************/

#below-nav { margin-top: 100px;}

	/* HORIZONTAL BUTTONS */
	/* use html5 to stretch to make each button the right size independent of how many there are */
	
	.hbox {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-align: stretch;
		display: -moz-box;
		-moz-box-orient: horizontal;
		-moz-box-align: stretch;
		display: box;
		box-orient: horizontal;
		box-align: stretch;
		width: 100%;
		height: auto;
	}
	
	.hbox > *, .vbox > * {
		text-align: center;
	}
	
	.flex_child_1 {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
	}

	.ybtn-primary {
	    background-color: #D80B06;
	    background-image: linear-gradient(#EA050B, #C41200);
	    border: 1px solid #A50508;
	    color: white;
	    text-shadow: 0 -1px 1px #B80806;
	}
	.ybtn {
	    border-radius: 4px 4px 4px 4px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 12px;
	    font-weight: bold;
	    line-height: 20px;
	    margin: 0 0 1px;
	    padding: 3px 16px;
	    position: relative;
	    text-align: center;
	    vertical-align: middle;
	}
	#raty {float: left;padding-left: 50px;}
	#mouseover-target {float:left; padding-left: 15px; padding-top: 2px;width: 50px; color: #777;} /* for $$$$ ratings on main selection button group */

	/* MODAL */
	#alert-holder {position: absolute; top: 165px; left: 20%; width: 60%;  margin: 0 auto;}
	#myModal {z-index: 12000;}
	.modalimg {background-color: #000;}
	
	
	/* GRID */
	/* Portfolio Info
=================================================================== */
.project-info {
	margin-bottom: 15px;
}

.project-info .button {
	margin-bottom: 30px !important;
}

.project-info strong {
	color: #29a9df;
}

.launch {
	margin-bottom: 30px;
}

.project-tags {
	margin-top: 15px;
}

.project-tags strong {
	float: left;
	margin: 5px 10px 20px 0;
}

/* Images Overlay
=================================================================== */
.picture { position: relative; }
	
.picture .item-description { padding: 5px 15px; border: none; margin: 0px; }

.post .picture,
#grid-wrapper .picture { position: relative; background: #fff; padding: 3px;  border: 1px solid #fcfcfc;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25); box-shadow: 0px 1px 1px rgba(0,0,0,.25); }

.post .picture,	
#grid-wrapper .picture .item-description { margin-bottom: 0px; padding: 5px; border: none; margin: 0px; }
#grid-wrapper .grid-item, #list-wrapper .list-item {margin-bottom: 20px;}
.list-item {    border: 1px solid #E5E5E5; border-radius: 4px 4px 4px 4px; padding: 5px; margin-bottom: 2px;}

	
.picture img {width: 100%; height: auto; }

.image-overlay-link,
.image-overlay-zoom {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 40;
	display: none;
	background-color: #222;
	background: rgba(0, 0, 0, 0.4);
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
}

.image-overlay-link {
	background-image: url(../img/overlay-icon-01.png);
}

.image-overlay-zoom {
	background-image: url(../img/overlay-icon-02.png);
}
.grid-item a, .list-item a {color: #4c004c;}
.grid-item a:hover, .list-item a:hover {color: #A319A3;}
.grid-item p, .list-item p {font-size: 12px; line-height: 1.2; margin: 0;} /* reduce from bootstrap 0 0 10px */
.grid-item span, .list-item span {font-size: 11px;}
.grid-item h5, .grid-item h6, .list-item h5, .list-item h6 {margin: 5px 0;} /* reduce the margins in grid of results from bootstrap default */
/* copy for if isotope cretaes its own .isotope-item elements */
#grid-wrapper .isotope-item {
	margin-bottom: 20px;
}

.isotope-item a {color: #4c004c;}
.isotope-item a:hover {color: #A319A3;}
.isotope-item p {font-size: 12px; line-height: 1.2; margin: 0;} /* reduce from bootstrap 0 0 10px */
.isotope-item span {font-size: 11px;}
.isotope-item h5, .grid-item h6 {margin: 5px 0;} /* reduce the margins in grid of results from bootstrap default */

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
